<div>
  <md-dialog aria-label="Contract Info" style="width:600px;height:600px;">
    <form>

      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Double-key Contract</h2>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content style="max-height:550px;" >
        <md-tabs md-dynamic-height md-border-bottom>
          
          <md-tab label="{{currentContract.name}}">
            <md-content class="md-padding">
          
               <div class="progress">
                  <div class="determinate" style="width: {{currentContract.progress}}%"></div>
              </div>
              <label>Payed {{currentContract.moneyInContract}} of {{currentContract.cost}} ({{currentContract.progress}}%)</label>

              <div> 
                
                <div class="row myMargin">
                  <div class="col m4 myStyle">Company name:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.company1}}</div>               
                </div>

                <div class="row ">
                  <div class="col m4 myStyle">Company adress:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.address1}}</div>               
                </div>
                
                <div class="row ">
                  <div class="col m4 myStyle">Provider name:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.company2}}</div>               
                </div>
                
                <div class="row ">
                  <div class="col m4 myStyle">Provider adress:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.address2}}</div>               
                </div>

                <div class="row ">
                  <div class="col m4 myStyle">Volume:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.volume}}</div>               
                </div>

                <div class="row ">
                  <div class="col m4 myStyle">Deadline:</div>               
                  <div class="col m5 offset-m3 myText">{{currentContract.date | date: "MMMM dd yyyy"}}</div>               
                </div>

                <div class="row ">
                  
                  <div class="col m2 myStyle">Customer confirmed:</div>               
                  <div class="col m2 offset-m2 "><i class="small material-icons {{currentContract.customerConfirmed + 'X'}}">{{currentContract.customerConfirmed == 1 ? "done" : "clear"}}</i></div>   

                  <div class="col m2 myStyle">Provider confirmed:</div>               
                  <div class="col m2 offset-m2 "><i class="small material-icons {{currentContract.providerConfirmed + 'X'}}">{{currentContract.providerConfirmed ? "done" : "clear"}}</i></div>  

                </div>

                <div class="row ">
                  <div class="col m4 myStyle">Contract is done:</div>               
                  <div class="col m4 offset-m4 "><i class="small material-icons {{currentContract.done + 'X'}}">{{currentContract.done ? "done" : "clear"}}</i></div>               
                </div>

              </div>
            </md-content>
          </md-tab>          
          
        </md-tabs>
      </md-dialog-content>

      <md-dialog-actions layout="row">
       
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
          Close
        </md-button>

      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
