<div ng-app = "smartDeals" ng-controller = "smartDealsController as controller" >
  <md-dialog aria-label="Mango (Fruit)" style="width:610px;">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Contract onde</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>


      <md-dialog-content style="max-width:810px;max-height:810px; ">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="one">
            <md-content class="md-padding">
            <h1 class="md-display-2">Tab One</h1>
            <form name="contractOne">
            
              <md-input-container class="md-block" flex-gt-sm>

                <label>NameFirst</label>
                <input md-maxlength="30" required name="name1" ng-model="newContract.NameFirst" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>NameSecond</label>
                <input md-maxlength="30" required name="name2" ng-model="newContract.NameSecond" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>AddresOne</label>
                <input md-maxlength="30" required name="adress1" ng-model="newContract.AddressOne" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>AdresTwo</label>
                <input md-maxlength="30" required name="adress2" ng-model="newContract.AdressTwo" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Volume</label>
                <input md-maxlength="30" required name="volume" ng-model="newContract.Volume" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Time</label>
                <input md-maxlength="30" required name="time" ng-model="newContract.Time" />
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                <label>Cost</label>
                <input md-maxlength="30" required name="cost" ng-model="newContract.Cost" />
              </md-input-container>

  
            </form>
            </md-content>
          </md-tab>
          <md-tab label="two">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Two</h1>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()" style="margin-right:20px;" >
          Cancel
        </md-button>
        <md-button class="md-primary md-raised" ng-click="deploy('0x9b423036f2324445ab650b4ef883d0d6ede53ca3','1')" >
          Confirm
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
