<div>
  <md-dialog aria-label="Mango (Fruit)" style="width:600px;height:600px;">
    <form>

      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Info</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content style="max-height:550px;" >
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Total">
            <md-content class="md-padding">
              <h1 class="md-display-2" >{{tab1tittle}}</h1>
              
              <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input md-maxlength="30" required name="name" ng-model="user.name" />

                <div class="hint" ng-if="true">Tell us what we should call you!</div>

                <div ng-messages="userForm.name.$error" ng-if="!showHints">
                  <div ng-message="required">Name is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <table class="highlight centered">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th >Wieght</th>
                      <th >Cost</th>
                  </tr>
                </thead>

                <tbody ng-repeat="ingridient in ingridients" >
                  <tr>
                    <td>{{ingridient.name}}</td>
                    <td>{{ingridient.weight}}</td>
                    <td>{{ingridient.cost | currency:"RUB &#8381; "}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="blue-text">Total price: {{total | currency:"RUB &#8381; "}}</p>
            </md-content>
          </md-tab>
          <md-tab label="Contract 1">
            <md-content class="md-padding">
             
              <table class="highlight centered">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Provider</th>
                      <th>Cost</th>
                  </tr>
                </thead>

                <tbody ng-repeat="ingridient in ingridients">
                  <tr>
                    <td>{{ingridient.name}}</td>
                    <td>{{ingridient.provider}}</td>
                    <td>{{ingridient.cost / ethCoeff | currency:"ETH &Xi; " : 7}}</td>

                  </tr>
                </tbody>
              </table>
              <hr>
              <p class="blue-text">Total price: {{totalEth | currency:"ETH &Xi; " : 7}}</p>
              <md-button ng-click="payAll()" style="margin-right:20px;" >
                pay All Providers
              </md-button>
            </md-content>
          </md-tab>
          <md-tab label="three">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>

      <md-dialog-actions layout="row">
       
        <span flex></span>
        <md-button ng-click="answer('not useful')" >
          Not Useful
        </md-button>
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
          Useful
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
