<div ng-app = "smartDeals" ng-controller = "smartDealsController as controller" >
  <md-dialog aria-label="Mango (Fruit)" >
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Info</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="width:600px;max-height:400px;" >
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Total">
            <md-content class="md-padding">
              <h1 class="md-display-2" >{{tab1tittle}}</h1>
              <p>Total price: {{total | currency:"RUB &#8381; "}}</p>

              <table>
                <thead>
                  <tr>
                      <th>Name</th>
                      <th >Wieght</th>
                      <th >Cost</th>
                  </tr>
                </thead>

                <tbody ng-repeat="ingridient in ingridients" >
                  <tr>
                    <td>{{ingridient.name}}</td>
                    <td>{{ingridient.weight}}</td>
                    <td>{{ingridient.cost | currency:"RUB &#8381; "}}</td>
                  </tr>
                </tbody>
              </table>
            
            </md-content>
          </md-tab>
          <md-tab label="Contract 1">
            <md-content class="md-padding">
             
              <table>
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Provider</th>
                      <th>Cost</th>
                  </tr>
                </thead>

                <tbody ng-repeat="ingridient in ingridients">
                  <tr>
                    <td>{{ingridient.name}}</td>
                    <td>{{ingridient.provider}}</td>
                    <td>{{ingridient.cost / ethCoeff | currency:"ETH &Xi; " : 7}}</td>

                  </tr>
                </tbody>
              </table>
              <hr>
              <p>Total price: {{totalEth | currency:"ETH &Xi; " : 7}}</p>
              <md-button ng-click="payAll()" style="margin-right:20px;" >
                pay All Providers
              </md-button>
            </md-content>
          </md-tab>
          <md-tab label="three">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-dialog-content>

      <md-dialog-actions layout="row">
       
        <span flex></span>
        <md-button ng-click="answer('not useful')" >
          Not Useful
        </md-button>
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
          Useful
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</div>
